In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Introduction:
This is a short exploratory analysis of the City of Chicago employee salary data set avaiable here: https://data.cityofchicago.org/Administration-Finance/Current-Employee-Names-Salaries-and-Position-Title/xzkq-xp2w

I felt weird about displaying the employee names so that column is deleted and ignored for this analysis.

In [2]:
data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')
del data['Name']

In [3]:
data.head(10)

                Position Title        Department Employee Annual Salary
0                     SERGEANT            POLICE             $101442.00
1               POLICE OFFICER            POLICE              $86142.00
2     CHIEF CONTRACT EXPEDITER  GENERAL SERVICES              $95148.00
3            CIVIL ENGINEER IV       WATER MGMNT             $107904.00
4        SENIOR POLICY ANALYST            HEALTH              $79284.00
5  TRAFFIC CONTROL AIDE-HOURLY              OEMC              $20248.80
6   STAFF ASST TO THE ALDERMAN      CITY COUNCIL              $50436.00
7          ELECTRICAL MECHANIC          AVIATION              $95888.00
8      POOL MOTOR TRUCK DRIVER     STREETS & SAN              $74048.00
9               POLICE OFFICER            POLICE              $92430.00

### Ranking department by average salary

In [4]:
data['Employee Annual Salary'] = data['Employee Annual Salary'].apply(lambda s: pd.to_numeric(s.replace('$','')))

In [5]:
salaries = data.groupby(['Department','Position Title']).agg(np.mean)

In [6]:
salaries.mean(level=0).sort_values('Employee Annual Salary',ascending=False)

                       Employee Annual Salary
Department
FIRE                            106984.327920
MAYOR'S OFFICE                  103150.419685
BUILDINGS                       101891.878550
DoIT                             97188.505814
BUDGET & MGMT                    95425.546667
HUMAN RELATIONS                  94173.500000
BOARD OF ETHICS                  93828.000000
ADMIN HEARNG                     92889.487179
POLICE                           92533.129167
WATER MGMNT                      92321.863627
TRANSPORTN                       91619.277726
LAW                              90033.592272
COMMUNITY DEVELOPMENT            88250.137021
HEALTH                           87781.039949
AVIATION                         87279.584636
OEMC                             86128.514266
INSPECTOR GEN                    85938.788462
GENERAL SERVICES                 85382.010380
IPRA                             85314.433333
STREETS & SAN                    85185.933704
TREASURER                        84379.400000
FINANCE                          84292.660694
CULTURAL AFFAIRS                 83992.461111
BUSINESS AFFAIRS                 83326.641784
POLICE BOARD                     82104.000000
PROCUREMENT                      81751.932108
DISABILITIES                     80781.714286
FAMILY & SUPPORT                 79065.407287
LICENSE APPL COMM                78984.000000
PUBLIC LIBRARY                   77575.491357
CITY CLERK                       76620.173571
HUMAN RESOURCES                  76549.041667
CITY COUNCIL                     69390.310206
BOARD OF ELECTION                69013.044987
ANIMAL CONTRL                    68531.857143